*{
    font-family: sans-serif;
}


html {
    background: linear-gradient(to top, #1b2a2e, 70%, #207084);
    background-repeat: no-repeat;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.encabezado{
    background-color: #3d5a61;
    margin: auto;
    padding-top: 0.5em;
}

.titulo_pagina {
    color: #aad7ec;
    font-size: 2.5em;
}

.menu_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #2b4247;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background: #2b4247;
}


.menu_items {
    margin: 1em;
    color: #ebf5fb;
}

.menu_items a{
    text-decoration: none;
    font-family: 'Arsenal SC', sans-serif;
}

.menu_items a:hover {
    color: #08a1e8;
    cursor: pointer;
}

.home_container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    margin-left: 1em;
    margin-top: 1em;
}

.cotizaciones_titulo_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    color: #ebf5fb;
    margin-bottom: 0.5em;
}

.home_titulo{
    color: #ebf5fb;
}

.cotizaciones_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0 auto;
}

.cotizaciones {
    width: auto;
    max-width: 400px;
    border-top-left-radius: 0.5em 1em; 
    border-collapse: collapse;
}

.cotizaciones_encabezado {
    margin: 0.1em;
    padding: 0.1em;
    border: 2px solid #0674a7;
    background-color: #0674a7;
    color: #ebf5fb;
}

.cotizaciones_columnas, .cotizaciones_filas {
   color: #ebf5fb; 
   margin: 0.1em;
   padding: 0.1em;
   border: 0.5px solid #ebf5fb;
}

.pie_de_pagina{
    background-color: #00000095;
}

.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ebf5fb;
}

a {color: #ebf5fb;}

/*Estilos de la página de Contavto*/
.contacto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    margin-left: 1em;
}

.contacto_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 1em;
}

.titulo_contacto_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    margin-bottom: 0.5em;
}

.titulo_contacto{
    color: #ebf5fb;
    margin-left: 0.6em;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 0;
    width: 100%;
    padding: 1em;
}

.formulario label{
    display:flex;
    flex-direction:column;
    width: 90px;
    color: #ebf5fb;
}

.nombre, .email{
    display: flex;
    flex-direction: column;
    width: 20em;
    box-sizing: border-box;
    background-color: #33444e91;
    border: 1px solid #dcd0d0;
}


.mensaje{
    display: flex;
    flex-direction: column;
    width: 20em;
    box-sizing: border-box;
    background-color: #33444e91;
    border: 1px solid #dcd0d0;
}


.nombre:hover, .email:hover, .mensaje:hover{
    border:1px solid #08a1e8;
}

.nombre:focus, .email:focus, .mensaje:focus{
    color: #ebf5fb;
}

.boton_enviar{
    margin-top: 9px;
    padding: 3px;
    padding-left: 4px;
    padding-right: 4px;
    color: #ebf5fb;
    background-color: #0674a7;
    border: none;
    border-radius: 0.2em;
}

.boton_enviar:hover{
    background-color: #00000095;
    border: 1px solid #ebf5fb;
    cursor: pointer;
}


