.menu_container {
    display: flex;
    background: #F17D7D;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    list-style-type: none;
}

.menu_items {
    margin: 1em;
}

.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
}