*{font-family: sans-serif;}


html {
    background: linear-gradient(to top, #023e4d, 70%, #008085);
}

.encabezado{
    background-color: #8bc4d37c;
    margin: auto;
    padding-top: 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

h1 {
    display: flex;
    color: #08a1e8;
    font-size: 3.5em;
    flex-direction: row;
    justify-content: center;
}

.menu_container {
    display: flex;
    background: #8bc4d37c;
    background-size: contain;
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    list-style-type: none;
    background: #8bc4d37c;
}

.menu_items {
    margin: 1em;
    color: #ebf5fb;
}

.menu_items a{
    text-decoration: none;
}

.menu_items a:hover {
    color: #47bbf1;
    cursor: pointer;
}

.home_container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    margin-left: 1em;
}

.cotizaciones_titulo_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
}

.home_titulo{
    color: #ebf5fb;
}

.cotizaciones_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0 auto;
}

.cotizaciones {
    width: auto;
    max-width: 400px; 
    border-collapse: collapse;
}

.cotizaciones_encabezado {
    margin: 0.1em;
    padding: 0.1em;
    border: 2px solid #ebf5fb;
    background-color: #08a1e8;
    color: #ebf5fb;
}

.cotizaciones_columnas, .cotizaciones_filas {
   margin: 0.1em;
   padding: 0.1em;
   border: 2px solid #ebf5fb;
}

.pie_de_pagina{
    background-color: #00000095;
}

.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {color: #ebf5fb;}

/*Estilos de la página de Contavto*/

.coontainer_conacto{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
}

.titulo_contacto{
    display: flex;
    justify-content: baseline;
    color: #070202;
    margin-left: 0.6em;
    margin-bottom: 0.5px;
}

.formulario{
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    margin: 0 auto;
    margin-left: 0;
    width: 4em;
    padding: 1em;
}

.formulario label{
    display:flex;
    flex-direction:column;
    width: 90px;
}

.nombre, .email{
    display: flex;
    flex-direction: column;
    width: 20em;
    box-sizing: border-box;
    border: 1px solid #dcd0d0;
}


.mensaje{
    display: flex;
    flex-direction: column;
    width: 20em;
    box-sizing: border-box;
    border: 1px solid #dcd0d0;
}


.nombre:hover, .email:hover, .mensaje:hover{
    border:1px solid #e33c3c;
}

.boton_enviar{
    margin-top: 9px;
    padding: 2px;
    color: #fce5e5;
    background-color: #c53636;
    border: none;
}

.boton_enviar:hover{
    background-color: #070202;
    border: 1px solid #dcd0d0;
    cursor: pointer;
}


