.titulo_historico
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 4%;
    font-size: 4.375em;
    font-family: 'oswald';
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'oswald';
}

#formulario_historico{
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color:#1b2838;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-inline: 30%;
    border-radius: 0.5em;
    transition: all 0.3s ease;
 }

#formulario_historico:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    cursor: pointer;
}

.sub_form{
    color:white;
    font-size: 20px;
    padding: 5%;
}
.consultar{
    background-color: #2C5364;
    padding: 3%;
    margin: 3%;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
    border: none;
    transition: all 0.3s ease  
}
.consultar:hover{
    background-color: #034c6e;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    cursor: pointer;
}
#fecha{
   font-size: 20px;
   width: 90%;

}
#dolar {
    font-size: 15px;
    width: 90%;

}
.resultado_historico
{
 background-color: #1b2838;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 5%;
 margin-top: 5%;
 margin-inline: 20%;
 border-radius: 6%;
 color: white;
}
.resultado_historico h2
{
    padding: 2%;
    font-size: 40px;
}
.resultado_historico hr
{
    color: #1b2838;
}
.resultado_historico p
{
    font-size: 20px;
    padding: 2%;
}

/*CSS para panallas chicas (telefonos moviales)*/
@media (max-width: 768px) {
    .titulo_historico {
        font-size: 2em; 
        padding: 2%;
    }

    h3 {
        font-size: 1.5em;
        margin-left: 0.5em;
    }

    #formulario_historico {
        margin-inline: 10%; 
        margin-bottom: 8%;
        padding: 1em;
        padding-top: 0.7em;
    }

    .consultar {
        font-size: 20px; 
        padding: 2%; 
    }    

    #fecha, #dolar {
        width: 100%;
    }

    .resultado_historico {
        margin-inline: 5%; 
        border-radius: 1em; 
    }

    .resultado_historico h2 {
        font-size: 1.5em; 
    }
}

/*CSS para pantallas medianas (tablets)*/
@media (max-width: 1024px) {
    .titulo_historico {
        font-size: 3em;
    }

    .consultar {
        font-size: 22px;
        padding: 2.5%;
    }

    #formulario_historico {
        margin-inline: 20%;
    }
}