.titulo_historico
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 4%;
    font-size: 4.375em;
    font-family: 'oswald';
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'oswald';
}

#formulario_historico{
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color:#1b2838;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-inline: 30%;
    border-radius: 0.5em;
    transition: all 0.3s ease;
 }

#formulario_historico:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    cursor: pointer;
}

.sub_form{
    color:white;
    font-size: 20px;
    padding: 5%;
}
.consultar{
    background-color: #2C5364;
    padding: 3%;
    margin: 3%;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
    border: none;
    transition: all 0.3s ease  
}
.consultar:hover{
    background-color: #034c6e;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    cursor: pointer;
}
#fecha{
   font-size: 20px;
   width: 90%;

}
#dolar {
    font-size: 15px;
    width: 90%;

}
.resultado_historico
{
 background-color: #1b2838;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 5%;
 margin-top: 5%;
 margin-inline: 20%;
 border-radius: 6%;
 color: white;
}
.resultado_historico h2
{
    padding: 2%;
    font-size: 40px;
}
.resultado_historico hr
{
    color: #1b2838;
}
.resultado_historico p
{
    font-size: 20px;
    padding: 2%;
}